{% set page = 'user' %}

{% extends 'shared/base.html.twig' %}

{% block title %}RTA Speedbuilders - Sign up{% endblock %}

{% block payload %}
<section>
  <div class="row">
    <div class="col">
      <h2 class="page-h2">Sign up and join the speedbuilding community!</h2>
    </div>
  </div>

  <form method="post">
    <fieldset class="form-row">
      <div class="form-group mt-3">
        <legend>Username</legend>
        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.username) }}
        <ul class="form-helper">
          <li>NIC Handle for your account (i.e your @ on RTA Speedbuilders)</li>
          <li>Can only contain lower letters and figures.</li>
          <li>Display name can be set up in your profile settings later.</li>
        </ul>
      </div>

      <div class="form-group mt-3">
        <legend>Email Address</legend>
        {{ form_widget(form.emailAddress, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.emailAddress) }}
        <div class="form-helper">Needed for validation</div>
      </div>

      <div class="form-group mt-3">
        <legend>Password</legend>
        {{ form_widget(form.password.first, {'attr': {'class': 'password-field'}}) }}
        {{ form_errors(form.password.first) }}
        <div class="form-helper">Password must be at least 8 characters long and must contain at least one lower case later, one upper case letter, one digit and one special character.</div>
      </div>

      <div class="form-group mt-3">
        <legend>Repeat Password</legend>
        {{ form_widget(form.password.second, {'attr': {'class': 'password-field'}}) }}
        {{ form_errors(form.password.second) }}
        <div class="form-helper">Please, repeat password for double validation.</div>
      </div>

      <div class="form-group mt-3 mb-3">
          <button type="submit" class="btn btn-info btn-rtaswc">→ next</button>
      </div>
    </fieldset>
  {{ form_end(form) }}
</section>
{% endblock %}
