{% set page = 'user' %}

{% extends 'shared/base.html.twig' %}

{% block title %}RTA Speedbuilders - Sign up{% endblock %}

{% block payload %}
<section>
  <div class="row">
    <div class="col">
      <h2 class="page-h2 text-center">Sign up and join the speedbuilding community!</h2>
    </div>
  </div>

  <form method="post" class="row">
    <div class="col col-md-6 offset-md-3">
    <fieldset class="form-row">
      <div class="form-group mt-3">
        <legend>Username</legend>
        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.username) }}
        <ul class="form-helper">
          <li>NIC Handle for your account (i.e your @ on RTA Speedbuilders)</li>
          <li>Can only contain lower letters and figures.</li>
          <li>Display name can be set up in your profile settings later.</li>
        </ul>
      </div>

      <div class="form-group mt-3">
        <legend>Email Address</legend>
        {{ form_widget(form.emailAddress, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.emailAddress) }}
        <ul class="form-helper"><li>Needed for validation</li></ul>
      </div>

      <div class="form-group mt-3">
        <legend>Password</legend>
        {{ form_widget(form.password.first, {'attr': {'class': 'password-field'}}) }}
        {{ form_errors(form.password.first) }}
        <ul class="form-helper">
          <li>Password must be at least 8 characters long,</li>
          <li>and must contain at least one lower case later,</li>
          <li>one upper case letter,</li>
          <li>one digit</li>
          <li>and one special character.</li>
        </ul>
      </div>

      <div class="form-group mt-3">
        <legend>Repeat Password</legend>
        {{ form_widget(form.password.second, {'attr': {'class': 'password-field'}}) }}
        {{ form_errors(form.password.second) }}
        <ul class="form-helper"><li>Please, repeat password for double validation.</li></ul>
      </div>

      <div class="form-group mt-3 mb-3">
          <button type="submit" class="btn btn-info btn-rtaswc">→ Sign Up</button>
      </div>
    </fieldset>
    </div>
  {{ form_end(form) }}
</section>
{% endblock %}
