{% set page = 'assembly' %}

{% extends 'shared/base.html.twig' %}

{% block title %}RTA Speedbuilders - Submit a New Speedbuilding Record {% endblock %}

{% block payload %}
<section>
  <div class="row">
    <div class="col">
      <h2 class="page-h2">Submit a New Speedbuilding Record</h2>
    </div>
  </div>

  {% if brand.getModels is empty %}
    <div class="alert alert-warning">
      Could not find any model for <strong>{{ brand.name }}</strong>!
      <a href="{{ path('manage_model_add', {'brand-id': brand.id}) }}">Please, add a model for this brand.</a>
    </div>
  {% else %}
  <form method="post">
    <fieldset class="form-row">
      <div class="form-group mb-3">
      <legend>
        Select a model from <a href="{{ path('submit_select_brand')}}" title="Click to change brand!"><strong>{{ brand.name}}</strong></a>
      </legend>
      {{ form_widget(form.model, {'attr': {'class': 'form-control'}}) }}
      {{ form_errors(form.model) }}
      </div>
      <div class="form-group">
          <button type="submit" class="btn btn-info btn-rtaswc">→ next</button>
      </div>
    </fieldset>
  {{ form_end(form) }}
  {% endif %}
</section>
{% endblock %}
