{% set page = 'brand' %}

{% extends 'shared/base.html.twig' %}

{% block title %}RTA Speedbuilders - Manage Models }}{% endblock %}

{% block payload %}
{% set config = {display_poster: true} %}

<section>
  <div class="row">
    <div class="col">
      <h2 class="page-h2">Add a new Furniture Model </h2>
    </div>
  </div>

  <form method="post">
    <fieldset class="form-row">
      <div class="form-group mb-3">
        <legend>Brand </legend>
        {{ form_widget(form.brand, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.brand) }}
        </div>
      <div class="form-group mb-3">
        <legend>Name</legend>
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.name) }}
        </div>
      <div class="form-group mb-3">
        <button type="submit" class="btn btn-info btn-rtaswc">&check; submit</button>
      </div>
    </fieldset>
  {{ form_end(form) }}
</section>

{% endblock %}
