{% set page = 'home' %}

{% extends 'shared/base.html.twig' %}

{% block title %}RTA Speedbuilders - The unofficial website for tracking your records!{% endblock %}

{% block payload %}
{% set config = {display_poster: true} %}

<section class="container">
  <div class="row">
    <div class="col">
      <h2 class="page-h2">Latest Submitted Records Overall</h2>
    </div>
  </div>

  <table class="table table-rtaswc">
  <tr>
    <th>Category</th>
    <th class="text-end">Time (h:mn:s.ms)</th>
    <th>Rank</th>
    <th>Speedbuilder</th>
    <th>Date</th>
  </tr>
  {% for record in records %}
    <tr>
      <td><a href="{{ path('browse_category', {id: record.category.id}) }}">{{ record.category.name }}</a></td>
      <td class="text-end tabular-nums"><a href="{{ path('browse_record', {id: record.id}) }}">{{ record.formattedTime }}</a></td>
      <td class="tabular-nums"><a href="{{ path('browse_record', {id: record.id}) }}">#{{ record.rank }}</a></td>
      <td>
        {% if record.speedbuilder %}
        <a href="{{ path('browse_speedbuilder', {username: record.speedbuilder.username}) }}">
        <span class="svg-flag">{{ include('svg/flag/' ~ (record.speedbuilder.country|lower ?: 'un') ~ '.svg') }}</span>
        {{ record.speedbuilder.displayName}}
        </a>
        {% else %}
        <span class="svg-flag">{{ include('svg/flag/un.svg') }}</span>
        Anonymous
        {% endif %}
      </td>
      <td class="tabular-nums"><a href="{{ path('browse_record', {id: record.id}) }}">{{ record.date|date('Y-m-d') }}</a></td>
    </tr>
  {% else %}
    No record to list yet!
  {% endfor %}
  </table>
</section>

{% endblock %}
