{% set page = 'home' %}

{% extends 'shared/base.html.twig' %}

{% block title %}RTA Speedbuilders - The unofficial website for tracking your records!{% endblock %}

{% block payload %}
{% set config = {display_poster: true} %}

<section class="container">
  <div class="row">
    <div class="col">
      <h2 class="page-h2">Latest Submitted Records Overall</h2>
    </div>
  </div>

  <table class="table table-rtaswc">
  <tr>
    <th>Category</th>
    <th class="text-end">Time (h:mn:s.ms)</th>
    <th>Speedbuilder</th>
    <th>Date</th>
  </tr>
  {% for record in records %}
    <tr>
      <td><a href="{{ path('browse_category', {id: record.category.id}) }}">{{ record.category.name }}</a></td>
      <td class="text-end tabular-nums"><a href="{{ path('browse_record', {id: record.id}) }}">{{ record.formattedTime }}</a></td>
      <td>Speedbuilder</td>
      <td class="tabular-nums"><a href="{{ path('browse_record', {id: record.id}) }}">{{ record.date|date('Y-m-d') }}</a></td>
    </tr>
  {% else %}
    No record to list yet!
  {% endfor %}
  </table>
</section>

{% endblock %}
