<table class="table table-rtaswc">
<tr>
  {{ 'category' in cols ? '<th>Category</th>' }}
  <th class="text-end">Time (h:mn:s.ms)</th>
  <th>Rank</th>
  {{ 'speedbuilder' in cols ? '<th>Speedbuilder</th>' }}
  {{ 'bestRank' in cols ? '<th>Best Rank</th>'}}
  <th>Date</th>
</tr>
{% for record in records %}
  <tr>
    {% if 'category' in cols %}
    <td><a href="{{ path('browse_category', {id: record.category.id}) }}">{{ record.category.name }}</a></td>
    {% endif %}
    <td class="text-end tabular-nums"><a href="{{ path('browse_record', {id: record.id}) }}">{{ record.formattedTime }}</a></td>
    <td>#{{ record.rank }}</td>
    {% if 'speedbuilder' in cols %}
    <td>
      {% if record.speedbuilder %}
      <a href="{{ path('browse_speedbuilder', {username: record.speedbuilder.username}) }}">
      <span class="svg-flag">{{ include('svg/flag/' ~ (record.speedbuilder.country|lower ?: 'un') ~ '.svg') }}</span>
      {{ record.speedbuilder.displayName}}
      </a>
      {% else %}
      <span class="svg-flag">{{ include('svg/flag/un.svg') }}</span>
      Anonymous
      {% endif %}
    </td>
    {% endif %}
    {% if 'bestRank' in cols %}<td>#{{ record.bestRank }}</td>{% endif %}
    <td class="tabular-nums"><a href="{{ path('browse_record', {id: record.id}) }}">{{ record.date|date('Y-m-d') }}</a></td>
  </tr>
{% else %}
  No record to list yet!
{% endfor %}
</table>
