<footer class="mt-5">
<div class="container">
  <div class="row">
    <div class="col text-center">
      <a href="{{ path('home' )}}" class="home-link"><i class="bi bi-house-fill"></i> rta.speed.builders</a>
    </div>
  </div>

  <div class="row">
      <div class="col col-6 col-md-3 mt-3">
          <h3>RTA Speedbuilders</h3>
          <a href="{{ path('misc_glossary') }}#glossary-rtaswc" class="footer-link">RTASWC ?</a>
          <a href="{{ path('misc_faq') }}" class="footer-link">FAQ</a>
          <a href="{{ path('misc_glossary') }}" class="footer-link">Glossary</a>
          <a href="/" class="footer-link">Stopwatch</a>
      </div>
      <div class="col col-6 col-md-3 mt-3">
          <h3>The RTA Movie</h3>
          <a href="{{ path('movie_home') }}" class="footer-link">Support the making of Fast Billy vs. Method Girl</a>
          <a href="{{ path('movie_home') }}#story" class="footer-link">The Story</a>
          <a href="/" class="footer-link">The Team</a>
      </div>
      <div class="col col-6 col-md-3 mt-3">
          <h3>How can I help?</h3>
          <a href="{{ path('movie_home') }}" class="footer-link">Support the making of Fast Billy vs. Method Girl</a>
          <a href="/" class="footer-link">Spread the word</a>
          <a href="/" class="footer-link">Have some word on the translations</a>
          <a href="https://github.com/woecifaun/rta.speed.builders" class="footer-link">Help improve the website</a>
      </div>
      <div class="col col-6 col-md-3 mt-3">
          <h3>Legal</h3>
          <a href="/" class="footer-link">About</a>
          <a href="/" class="footer-link">Terms of Service</a>
          <a href="/" class="footer-link">Privacy Policy</a>
          <a href="/" class="footer-link">Contact</a>
          <a href="/" class="footer-link">EU Legal</a>
          <a href="/" class="footer-link">Cookie Preferences</a>
      </div>
  </div>
</div>{# container-fluid #}
</footer>
