{% set page = 'assembly' %}

{% extends 'shared/base.html.twig' %}

{% block title %}{{ 'furniture.brand.add'|trans }}{% endblock %}

{% block payload %}
{% set config = {display_poster: true} %}


<section class="container">
  <form method="post">
    <fieldset class="form-row">
      <div class="form-group mb-3">
        <legend>Name </legend>
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.name) }}
        </div>
      <div class="form-group mb-3">
        <legend>Description (Markdown format)</legend>
        {{ form_widget(form.markdown, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.markdown) }}
        </div>
      <div class="form-group mb-3">
        <input type="submit" name="Save" value="save" class="btn btn-success">
        <a href="{{ path('manage_category_preview', {'id': category.id}) }}" class="btn btn-info">Preview</a>
      </div>
    </fieldset>
  {{ form_end(form) }}
</section>

{% endblock %}
