{% set page = 'assembly' %}

{% extends 'shared/base.html.twig' %}

{% block title %}RTA Speedbuilders - Manage Speedbuilding Categories }}{% endblock %}

{% block payload %}
{% set config = {display_poster: true} %}


<section>
  <div class="row">
    <div class="col">
      {% set statuses = {draft: 'Draft', published: 'Current' } %}
      <h2 class="page-h2">
        {% if version.status == 'draft' %}<sup class="badge bg-danger fs-6">Draft</sup>{% endif %}
        Edit the Category</h2>
    </div>
  </div>

  <form method="post">
    <fieldset class="form-row">
      <div class="form-group mb-3">
        {{ form_errors(form) }}
      </div>
      <div class="form-group mb-3">
        <legend>Name </legend>
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.name) }}
      </div>
      <div class="form-group mb-3">
        <legend>Description (Markdown format)</legend>
        {{ form_widget(form.markdown, {'attr': {class: 'form-control', rows: '10'}}) }}
        {{ form_errors(form.markdown) }}
      </div>
      <div class="form-group mb-3">
        <button type="submit" formaction="{{ path('manage_category_preview', {'id': category.id}) }}" class="btn btn-info btn-rtaswc">Preview</button>
        <button type="submit" formaction="{{ path('manage_category_publish_from_edit', {'id': category.id}) }}" class="btn btn-success btn-rtaswc">Publish</button>
        {% if version.isDraft %}
        <a href="{{ path('manage_category_delete_draft', {id: category.id}) }}" class="btn btn-danger btn-rtaswc">Delete Draft</a>
        {% endif %}
      </div>
    </fieldset>
  {{ form_end(form) }}
</section>

{% endblock %}
