{% set page = 'assembly' %}

{% extends 'shared/base.html.twig' %}

{% block title %}RTA Speedbuilders - Manage Category {{ category.name }}{% endblock %}

{% block payload %}
{% set config = {display_poster: true} %}


<section class="container">
  <div class="row">
    <div class="col">
      <h2 class="page-h2">{{category.name}}</h2>
      <span class="badge bg-secondary">{{ category.model.brand.name }}</span> <span class="badge bg-secondary">{{ category.model.name }}</span>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="category-html mb-3 mt-3">
        {{ category.html|raw }}
      </div>
      <a href="{{ path('manage_category_edit', {'id': category.id}) }}" class="btn btn-info">Edit</a>
    </div>
  </div>
</section>

{% endblock %}
