{% set page = 'assembly' %}

{% extends 'shared/base.html.twig' %}

{% block title %}RTA Speedbuilders - Manage Speedbuilding Categories }}{% endblock %}

{% block payload %}
{% set config = {display_poster: true} %}


<section>
  <div class="row">
    <div class="col">
      <h2 class="page-h2">Create a New Speedbuilding Category</h2>
    </div>
  </div>

  {% if brand.models|length %}
  <form method="post">
    <fieldset class="form-row">
      <div class="form-group">
        <legend>Select the {{ brand.name }} model </legend>
        {{ form_widget(form.model) }}
        {{ form_errors(form.model) }}
      </div>
      <div class="form-group">
        <legend>Name </legend>
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
      </div>
      <div class="form-group">
        <legend>Rules </legend>
        {{ form_widget(form.markdown) }}
        {{ form_errors(form.markdown) }}
      </div>
      <div class="form-group mt-3">
        <button type="submit" class="btn btn-info btn-rtaswc">&check; submit</button>
      </div>
    </fieldset>
  {{ form_end(form) }}
  {% else %}
  <div class="alert alert-info">
    No model available for the brand <strong>{{ brand.name }}</strong>.
    <a href="{{ path('manage_model_add', {'brand-id': brand.id}) }}">Please add a model!</a>
  </div>
  {% endif %}


</section>

{% endblock %}
